article.xcf
1.xcf
2.xcf
3.xcf
4.xcf
5.xcf
6.xcf
7.xcf
8.xcf
9.xcf
10.xcf
test.xcf
1.png
2.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png
10.png
p_comparison.drawio
lns_copmarison.drawio
lns_comparison.drawio
sir_model_example.drawio
c_value.drawio
u_comparison.drawio
stationary.drawio
/projects/*
/presentation/*
2011 SIR square de_Souza_2011_J._Stat._Mech._2011_P03006.pdf
2021-06-30_03h58_15.png
qB7Mx.png
notatki.txt